/* original values are designed for small mobile phones (320px + ) */

/* --------------- 480px (bigger than portrait phone) --------------- */
@media only screen and (min-width: 480px) {
	body { font-size: 21px;	}
	.systems-card-container { width: 33%; }
	.card-container { padding: 30px 30px; }
	.title-image {	height: 400px; }
	.logo-text { font-size: 14px; }
}

/* --------------- 620px (bigger than phone) --------------- */
@media only screen and (min-width: 620px) {	

}

/* --------------- 768px (Tablets) --------------- */
@media only screen and (min-width: 768px) {
	body { font-size: 22px;	}
	.header-container {	max-width: 820px; }
	.header-contact-btn { margin-top: 0px; }

	.content-container { padding: 40px 30px 40px 30px;	}
	.video-container { height: 550px; }
	.video-overlay-content { font-size: 0.9em; } /* original 0.8em */
	.video-overlay-fade { box-shadow: 0px 0px 1000px 300px #ffffffb4; }

	.systems-card-container { max-width: 25%; }
	.card-container { padding: 30px 30px; }

	footer { text-align: left; }
	.contact-container { width: 50%;	margin: 0; }
	.contact-card-item { justify-content: start; }
}

/* --------------- 992px (laptops) --------------- */
@media only screen and (min-width: 992px) {
	body { font-size: 23px;	}
	.header-container {	max-width: 880px; }
	.content-container { padding: 40px; }

	.android-card-container { max-width: 40%; }
	.info-card-container {max-width: 50%; }

	.title-image { height: 480px; }
}
@media only screen and (min-width: 992px)  and (orientation: landscape) {
}
@media only screen and (min-width: 992px)  and (orientation: portrait) {
}





/* --------------- 1312px (large desktops) --------------- */
@media only screen and (min-width: 1312px) {
	body { font-size: 24px;	}
	.header-container {	max-width: 980px; }
	.video-container { height: 800px;}
	.systems-card-container { max-width: 16%; }
}
@media only screen and (min-width: 1312px) and (orientation: landscape) {
}
@media only screen and (min-width: 1312px) and (orientation: portrait) {
}


/* --------------- 1600px (extra large desktops) --------------- */
@media only screen and (min-width: 1600px) {
	.card-container { max-width: 33%; }
	.info-card-container {max-width: 25%; }
}