* {	margin: 0px; padding: 0px; box-sizing: border-box;} /* so all browsers display same */
html {
	height: 100%;
	scroll-behavior: smooth;
	font-size: 20px;
}
body {
	overflow-x: hidden;
	height: 100%;
	text-align: center;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;	
	/*font-family: 'Roboto', sans-serif;
	background: url('../img/background.jpg') bottom center; 
	background-size: cover;*/
	background-color: #818181;
}

main {
	padding-top: 100px;
	padding-bottom: 50px;
	min-height: 200px;
}

.drum-container {
	padding-top: 15vh;
	width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-wrap: wrap;
}

.all {
	border: 0.2vw solid black;
	margin: 0.5vw;
	margin-bottom: 1.2vw;
  padding: 1vw;
	transition: all 0.07s ease;
  text-align: center;
	text-shadow:  0vw 0vw 1vw #0000009d;
}
.type {	font-size: 1.3vw; }

.drum {
	font-size: 2vw;
  border-radius: 20vw;
  color: #000000;
  background: #ffffffc7;
}

.cymbal {
	font-size: 2vw;
  border-radius: 20vw;
  color: #000000;
  background: #fad400a6;
}

.pedal {
	line-height: 1.2;
	font-size: 1.8vw;
	padding-top: 2vw;
  border-radius: 0.3rem;
  color: #FFFFFF;
  background: #000000d8;
	width: 5vw;
	height: 10vw;
}

#crash-cymbal { margin-right: -2vw;}
#small-tom { margin-left: 4vw; margin-top: 8vw;}
#medium-tom { margin-left: -3vw;  margin-top: 2vw; }
#hi-hat-pedal {transform: rotate(350deg); margin-left: 7vw; }
#bass-drum { margin-top: 27vw;  margin-right: 2vw;}
#ride-cymbal { margin-left: -4vw ; margin-top: 3vw; }

.small {
	padding-top: 4vw;
	width: 14vw;
	height: 14vw;
}

.medium {
	padding-top: 5vw;
	width: 16vw;
	height: 16vw;
}

.large {
	padding-top: 6vw;
	width: 18vw;
	height: 18vw;
}


.playing {
  transform: scale(1.02);
  border-color: #ffc800a4;
  box-shadow: 0 0 3vw #ffc80093;
}

.sound {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
  color: #ffc600;
}
